.color-table
  background-color: #732be5
  color: white !important

.bloque-texto-b:before
  background-color: #c9eff9
  top: 70%
  left: 24%

.bloque-texto-d.color-secundario:before
  background-color: #dcfcff
  top: 70%
  left: 24%
  bottom: 2%

.bloque-comilla-superior
  margin-top: -2%
.bloque-custom
  background-color: #ffffff
  width: 92%

.bloque-custom-a
  background-color: #02cddb

.bloque-custom-b
  background-color: #E8E8E8 

.tabla-custom
  background-color: #f6f6f6 !important

.tabla-custom-b
  padding: 0 30px !important
   

.tabla-custom-medios
  background-color: #ffffff !important
  

.tarjeta-infografia
  border-radius: 0%
  
.tarjeta--azul
  background-color: #f4f4f5

.tarjeta-avatar-der
  margin-left: 0%  !important
  padding-left: 0% !important
  margin-right: -5% !important
  border-left:  6px solid  #673AB7
  
.tajerta-linea-der
  border-right:  6px solid  #673AB7